body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1717;
  background: lightgrey;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

#greeting-container {
  margin-top: 20px;
}

#quote-box{
    margin: 50px;
    padding: 50px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-picture{
    height: 180px;
    width: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 40px 20px 0 0;
    padding: 0 10px;
}
.profile-pic{
    margin: 0 10px;
    margin-left: -30%;
    height: 100%;
    width: auto; 

    
}
article{
    float: left;
}

a{
    text-decoration: none;
}